<section class="secondScreen parallaxGroup">
  <div class="content">
    <div class="logo"></div>

    <div class="titleAndDescription">
      <h2 class="title"> @{content.secondScreen.title} </h2>
      <p class="description"> @{content.secondScreen.description} </p>
    </div>
  </div>

  <div class="parallaxLayer parallaxLayerFront">
    <img class="magnifier" width="225px" src="@{vars.baseDir}/img/magnifier.png">
  </div>
</section>