<section class="secondScreen">
  <div class="content">
    <a class="logo" href="./"></a>

    <div class="titleAndDescription">
      <h2 class="title"> @{content.secondScreen.title} </h2>
      <p class="description"> @{content.secondScreen.description} </p>
    </div>
  </div>

  <div class="magnifier"></div>
</section>