.secondScreen {
  width: 100vw;
  height: 73vh;
  color: white;
  transition: all 1s;

  @include notMobile {
    background: url(#{$img}/bgSecondScreen.svg) no-repeat center top;
    background-size: 100% 73vh;
  }

  // Sorry for this selector :D
  @include notMobile {
    @at-root body:not([data-browser="edge"]):not([data-browser="ie"]):not(.showContent) & {
      transform: translateY(100vh) translateZ(0);
    }
  }

  @include mobile {
    margin-top: 70px;
    height: auto;
  }

  .content {
    width: 1040px;
    margin: 0 auto;

    @include mobile {
      width: auto;
      padding: 30px 20px 115px 20px;
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to right, #424245, #252526);
        z-index: -1;
      }

      &::after {
        content: '';
        width: 115%;
        height: 45vw;
        position: absolute;
        left: -5%;
        bottom: -40vw;
        z-index: -2;
        background: url(#{$img}/bgSecondScreenMob.svg) no-repeat;
        background-size: 100% auto;
      }
    }
  }

  .logo {
    width: 136px;
    height: 30px;
    margin: 53px 0 0 -78px;
    display: inline-block;
    background: url(#{$img}/logo.svg) no-repeat;

    @include mobile {
      width: 49px;
      height: 19px;
      margin: 53px 0 0 0;
      background: url(#{$img}/logoMob.svg) no-repeat;
      background-size: 100% auto;
    }
  }

  .titleAndDescription {
    width: 650px;
    margin: 80px 0 0 0;
    transition: all 1s 0.3s;

    @include notMobile {
      @at-root body:not([data-browser="edge"]):not([data-browser="ie"]):not(.showContent) & {
        transition: all 0.7s;
        opacity: 0;
        transform: translateY(20px);
      }
    }

    @include mobile {
      width: auto;
    }
  }

  .title {
    font-size: 18px;
  }

  .description {
    margin-top: 35px;
    font-family: $fontAlt;
    font-size: 30px;
    line-height: 1.25;
    font-weight: 800;

    @include mobile {
      font-size: 22px;
      font-family: $fontBase;
      font-weight: 400;
    }
  }

  .magnifier {
    width: 225px;
    height: 334px;
    position: absolute;
    top: 50px;
    right: calc((100% - 1040px) / 2 + 80px);
    background-repeat: no-repeat;
    background-size: 100% auto;

    @at-root body.no-webp & {
      background-image: url('#{$img}/magnifier.png');
    }

    @at-root body.webp & {
      background-image: url('#{$img}/magnifier.webp');
    }

    @include hdpi {
      @at-root body.no-webp & {
        background-image: url('#{$img}/magnifier2x.png');
      }

      @at-root body.webp & {
        background-image: url('#{$img}/magnifier2x.webp');
      }
    }

    @include mobile {
      width: 170px;
      top: auto;
      right: auto;
      left: calc(50% - 130vw);
      top: -275px;
      will-change: transform, opacity;
      transition: all 0.05s linear;
      transform: translateX(calc(190vw * var(--progress-one)))
                 rotateZ(calc(10deg - 30deg * var(--progress-one)))
                 translateY(calc(250px * var(--progress-one)));
      // opacity: calc(2.5 - var(--progress) * 5);
    }
  }

  .parallaxLayer {
    z-index: 1;
  }
}