.secondScreen {
  width: 100vw;
  height: 100vh;
  color: white;
  transition: all 1s;

  @include notMobile {
    background: url(#{$img}/bgSecondScreenRight.svg) no-repeat right top, 
                url(#{$img}/bgSecondScreen.jpg) no-repeat center top;
    background-size: auto 510px, 100% 93vh;
  }

  // Sorry for this selector :D
  @include notMobile {
    @at-root body:not([data-browser="edge"]):not([data-browser="ie"]):not(.showContent) & {
      transform: translateY(100vh) translateZ(0);
    }
  }

  @include mobile {
    height: auto;
  }

  .content {
    width: 1040px;
    height: 83vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include mobile {
      width: auto;
      height: auto;
      padding: 30px 20px 25px 20px;
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to right, #424245, #252526);
        z-index: -1;
      }

      &::after {
        content: '';
        width: 115%;
        height: 45vw;
        position: absolute;
        left: -5%;
        bottom: -40vw;
        z-index: -2;
        background: url(#{$img}/bgSecondScreenMob.svg) no-repeat;
        background-size: 100% auto;
      }
    }
  }

  .logo {
    width: 136px;
    height: 30px;
    margin: 53px 0 0 -78px;
    display: inline-block;
    background: url(#{$img}/logo.svg) no-repeat;

    @include mobile {
      width: 49px;
      height: 19px;
      margin: 53px 0 0 0;
      background: url(#{$img}/logoMob.svg) no-repeat;
      background-size: 100% auto;
    }
  }

  .titleAndDescription {
    width: 650px;
    margin: auto 0;
    position: relative;
    top: -60px;
    transition: all 1s 0.3s;

    @include notMobile {
      @at-root body:not([data-browser="edge"]):not([data-browser="ie"]):not(.showContent) & {
        transition: all 0.7s;
        opacity: 0;
        transform: translateY(20px);
      }
    }

    @include mobile {
      width: auto;
      margin-top: 150px;
      position: relative;
      top: -120px;
      top: -30px;
      transition: 0.05s transform;
      transform: translateY(calc(-35px * var(--progress-3)));
      opacity: var(--progress-3);
    }
  }

  .title {
    font-size: 18px;

    @include mobile {
      transform: translateY(calc(-35px * var(--progress-4)));
      opacity: calc(1 - var(--progress-4));
    }
  }

  .description {
    margin-top: 35px;
    font-family: $fontAlt;
    font-size: 30px;
    line-height: 1.25;
    font-weight: 800;

    @include mobile {
      font-size: 22px;
      font-family: $fontBase;
      font-weight: 400;
      transform: translateY(calc(-35px * var(--progress-4)));
      opacity: calc(1 - var(--progress-4));
    }
  }

  .magnifier {
    width: 225px * 0.7;
    height: 354px * 0.7;
    position: absolute;
    top: 230px;
    right: calc((100% - 1040px) / 2 + 150px);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url('#{$img}/magnifier.png'); // Webp for this image make no sense
    filter: drop-shadow(-7px 20px 4.5px rgba(0, 0, 0, 0.08));

    @include hdpi {
      @at-root body.no-webp & {
        background-image: url('#{$img}/magnifier.png');
      }

      @at-root body.webp & {
        background-image: url('#{$img}/magnifier2x.webp');
      }
    }

    @include mobile {
      display: none;
    }
  }

  .parallaxLayer {
    z-index: 1;
  }
}