<section class="secondScreen">
  <img class="logo" width="136px" src="@{vars.baseDir}/img/logo.svg">

  <div class="titleAndDescription">
    <h2 class="title"> @{content.secondScreen.title} </h2>
    <p class="description"> @{content.secondScreen.description} </p>
  </div>
</section>