.secondScreen {
  width: 100vw;
  height: 73vh;
  background: url(#{$img}/bgSecondScreen.svg) no-repeat center top;
  background-size: 100% 73vh;
  color: white;

  @include mobile {
    height: auto;
    background: linear-gradient(to right, #424245, #252526);
  }

  .content {
    width: 1040px;
    margin: 0 auto;

    @include mobile {
      width: auto;
      padding: 0 20px 100px 20px;
    }
  }

  .logo {
    margin: 53px 0 0 -78px;
  }

  .titleAndDescription {
    width: 650px;
    margin: 80px 0 0 0;

    @include mobile {
      width: auto;
    }
  }

  .title {
    font-size: 18px;
  }

  .description {
    margin-top: 35px;
    font-family: $fontAlt;
    font-size: 30px;
    line-height: 1.25;
    font-weight: 800;

    @include mobile {
      font-size: 22px;
    }
  }

  .magnifier {
    position: absolute;
    top: 50px;
    right: calc((100% - 1040px) / 2 + 80px);
  }
}