// Typography
@font-face { // Subset only for Mighty Vision
  font-family: 'cera_pro';
  font-display: swap;
  src: url('#{$fonts}/cerapro-black-webfont.woff2') format('woff2'),
       url('#{$fonts}/cerapro-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'cera_pro';
  font-display: swap;
    src: url('#{$fonts}/cerapro-bold-webfont.woff2') format('woff2'),
         url('#{$fonts}/cerapro-bold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ibm_plex_mono';
  font-display: swap;
    src: url('#{$fonts}/ibmplexmono-text-webfont.woff2') format('woff2'),
         url('#{$fonts}/ibmplexmono-text-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html {
  overflow: hidden; // For correct parallax
  background-color: #343437;

  @include mobile {
    overflow-x: hidden;
    overflow-y: visible;
  }
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: $fontBase;
  font-weight: 400;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  scroll-behavior: smooth;
  background-color: white;

  &.disableTransitions * {
    transition: none !important;
  }

  &.enableScroll {
    overflow-y: auto;
  }

  &[data-browser="edge"],
  &[data-browser="ie"] {
    overflow-y: auto;
  }
}

input,
textarea,
button,
a {
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  text-decoration: none;
}

input { // Fix for iOS
  border-radius: 0;
}

button {
  cursor: pointer;
}

::selection {
  background: #00c6ff;
}

::-moz-selection {
  background: #00c6ff;
}

html:not(.mac) {
  @include notMobile {
    ::-webkit-scrollbar {
      width: 5px;
    }
  
    ::-webkit-scrollbar-track {
      background: rgb(250, 250, 250); 
    }
  
    ::-webkit-scrollbar-thumb {
      background: rgb(150, 150, 150); 
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(120, 120, 120);
    }
  }
}

.parallax {
  height: 100vh;
  perspective: 300px;

  @include mobile {
    perspective: none;
    height: auto;
  }
}

.parallaxGroup {
  position: relative;
  transform-style: preserve-3d;
}

.parallaxLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallaxLayerFront {
  z-index: 2;
  pointer-events: none;

  &.sensitive-1 {
    transform: translateZ(85px) scale(0.8);
  }

  &.sensitive-2 {
    transform: translateZ(55px) scale(0.8);
  }

  * {
    pointer-events: auto;
  }
}