<section class="initScreen">
  <div class="titleAndDescription">
    <h1 class="title"> @{content.initScreen.title} </h1>
    <p class="description"> @{content.initScreen.description} </p>
  </div>

  <aside class="scrollDown"> @{content.initScreen.scroll} </aside>
</section>