.initScreen {
  width: 100%;
  height: 100vh;
  transition: transform 1s, opacity 0.7s 0.3s;
  z-index: 1;

  @include notMobile {
    @at-root body:not([data-browser="edge"]):not([data-browser="ie"]) & {
      position: absolute;
      left: 0;
      top: 0;
    }  
  }

  @at-root body.showContent & {
    transition: all 1s;
    transform: translateY(-100%);
    opacity: 0;
  }

  @include mobile {
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &.hide {
    display: none;
  }

  .initAnimation {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    overflow: hidden;

    @include mobile {
      height: auto;
      position: static;
      align-items: center;
    }

    @at-root body[data-browser="ie"] & {
      &::before {
        content: '';
        width: 15vw;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        background-color: white;
        z-index: 1;
      }
    }
  }

  @keyframes showOverlay {
    100% {
      opacity: 1;
    }
  }

  .video {
    object-fit: cover;
    opacity: 0;

    @at-root body.startAnimation & {
      animation: showLogo 0.5s 0.3s ease-in forwards;
    }

    @include mobile {
      object-fit: contain;
      width: 100%;
      height: auto;

      @at-root body.startAnimation & {
        // animation: showLogo 0.5s ease-in forwards,
        //            showLogoMobile 0.35s 0.7s ease-in forwards;
      }
    }

    @at-root body[data-browser="edge"] & {
      position: absolute;
      left: -6.5%;
      background-color: white;
    }

    @at-root body[data-browser="ie"] & {
      position: absolute;
      left: -6.5%;
    }
  }

  @keyframes showLogo {
    100% {
      opacity: 1;
    }
  }

  @keyframes showLogoMobile {
    100% {
      transform: translateY(calc(-50vh + 190px));
    }
  }

  .content {
    width: 100%;
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.7s 0.3s;

    @at-root body.showContent & {
      transition: all 1s;
      transform: translateY(-30px);
    }

    @include mobile {
      height: auto;
      margin-top: 4vh;
      padding-bottom: 4vh;
      justify-content: center;
      align-items: center;
      transform: translateY(5px);
      opacity: 0;
    }
  }

  @at-root body.startAnimation & .content {
    animation: showContent 5.55s 1.25s forwards;
  }

  @at-root body.startAnimation & .content {
    animation: showContent 0.55s 1.25s forwards;
  }

  @keyframes showContent {
    100% {
      opacity: 1;
      transform: none;
    }
  }

  .titleAndDescription {
    width: 425px;
    margin-left: 50%;
    transform: translateX(-5px);

    @include mobile {
      width: 100%;
      margin-left: 0;
      padding: 0 20px;
      transform: translateY(calc(#{-$hideTranslateY} * var(--progress-1)));
      opacity: calc(1 - var(--progress-1));
    }
  }

  @keyframes showTitleAndDescription {
    100% {
      transform: none;
    }
  }


  // Show-content animation: title => description => scroll icon
  $showAnimationTime: 0.7s;
  $startAnimationDelay: 1.38s;
  $delayBeetweenAmimations: 0.13s;
  $animationEasing: ease;

  .title {
    font-family: $fontAlt;
    font-weight: 900;
    text-transform: lowercase;
    font-size: 65px;
    line-height: 1.2;

    @include notMobile {
      opacity: 0;

      @at-root body.startAnimation & {
        animation: show 
                   $showAnimationTime 
                   $startAnimationDelay 
                   $animationEasing
                   forwards;
      }
    }

    @include mobile {
      font-size: 48px;
    }
  }

  @keyframes show {
    100% {
      opacity: 1;
    }
  }

  .description {
    margin-top: 50px;
    font-size: 16px;
    line-height: 1.4;

    @include notMobile {
      opacity: 0;

      @at-root body.startAnimation & {
        animation: show 
                   $showAnimationTime 
                   ($startAnimationDelay + $delayBeetweenAmimations) 
                   $animationEasing 
                   forwards;
      }
    }

    @include mobile {
      margin-top: 25px;
    }
  }

  .scrollDown {
    transform: rotateZ(-90deg);
    font-size: 12px;
    position: absolute;
    right: 10px;
    color: grey;
    opacity: 0;

    @include notMobile {
      @at-root body.startAnimation & {
        animation: show 
                   $showAnimationTime 
                   ($startAnimationDelay + $delayBeetweenAmimations * 2) 
                   $animationEasing 
                   forwards;
      }
    }

    @include mobile {
      display: none;
    }

    &::before {
      content: url('#{$img}/wheel.svg');
      transform: rotateZ(90deg);
      display: block;
      position: absolute;
      bottom: -7px;
      left: -35px;
    }
  }

  .magnifier {
    width: 225px;
    height: 334px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 1;

    @include notMobile {
      display: none;
    }

    @at-root body.no-webp & {
      background-image: url('#{$img}/magnifier.png');
    }

    @at-root body.webp & {
      background-image: url('#{$img}/magnifier.webp');
    }

    @include hdpi {
      @at-root body.no-webp & {
        background-image: url('#{$img}/magnifier2x.png');
      }

      @at-root body.webp & {
        background-image: url('#{$img}/magnifier2x.webp');
      }
    }

    @include mobile {
      width: 127px;
      height: 200px;
      bottom: -35vh;
      right: 40px;
      transition: all 0.05s linear;
      transform: translateY(calc(-25vh * var(--progress-2)));
    }
  }
}