.initScreen {
  width: 100%;
  height: 100vh;
  transition: transform 1s, opacity 0.7s 0.3s;
  z-index: 1;

  @include smallHeightPort {
    margin-bottom: 80px;
    height: 107vh;
  }

  @include notMobile {
    @at-root body:not([data-browser="edge"]):not([data-browser="ie"]) & {
      position: absolute;
      left: 0;
      top: 0;
    }  
  }

  @at-root body.showContent & {
    transition: all 1s;
    transform: translateY(-100%);
    opacity: 0;
  }

  @include mobile {
    min-height: 100%;
    display: flex;
  }

  &.hide {
    display: none;
  }

  .initAnimation {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    overflow: hidden;

    @at-root body[data-browser="ie"] & {
      &::before {
        content: '';
        width: 15vw;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        background-color: white;
        z-index: 1;
      }
    }

    @include mobile {
      &::before {
        display: none;
        content: '';
        width: 133px;
        height: 150px;
        position: absolute;
        left: calc(100vw - 104px);
        top: -5px;
        background: url(#{$img}/logoOverlayMobile.svg) no-repeat;
        background-size: 100% auto;
        z-index: 1;
        opacity: 0;

        @at-root body.startAnimation & {
          animation: showOverlay 0.5s 1.85s forwards;
        }
      }
    }
  }

  @keyframes showOverlay {
    100% {
      opacity: 1;
    }
  }

  .video {
    object-fit: cover;
    opacity: 0;

    @at-root body.startAnimation & {
      animation: showLogo 0.5s 0.3s ease-in forwards;
    }

    @include mobile {
      width: 600px;
      height: 340px;
      position: absolute;
      left: calc(50% - 270px);
      top: calc(50% - 170px);
      // transform: translateX(-125px);

      @at-root body.startAnimation & {
        animation: showLogo 0.5s ease-in forwards,
                   showLogoMobile 0.385s 0.7s ease-in forwards;
      }
    }

    @at-root body[data-browser="edge"] & {
      position: absolute;
      left: -6.5%;
      background-color: white;
    }

    @at-root body[data-browser="ie"] & {
      position: absolute;
      left: -6.5%;
    }
  }

  @keyframes showLogo {
    100% {
      opacity: 1;
    }
  }

  @keyframes showLogoMobile {
    100% {
      transform: translateX(calc(-50vw + 270px)) translateY(calc(-50vh + 190px));
    }
  }

  .content {
    width: 100%;
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: all 0.7s 0.3s;

    @at-root body.showContent & {
      transition: all 1s;
      transform: translateY(-30px);
    }

    @include mobile {
      // height: auto;
      margin-top: auto;
      top: -60px;
      height: calc(100vh - 340px);
      justify-content: center;
      align-items: center;
    }
  }

  @at-root body.startAnimation & .content {
    animation: showContent 0.55s 1.35s forwards;
  }

  @keyframes showContent {
    100% {
      opacity: 1;
    }
  }

  .titleAndDescription {
    width: 425px;
    margin-left: 50%;
    transform: translateX(-5px);

    @include mobile {
      width: 100%;
      margin-left: 0;
      padding: 0 20px;
    }
  }

  .titleAndDescription {
    @at-root body.startAnimation & {
      animation: showTitleAndDescription 0.55s 1.3s forwards;
    }
  }

  @keyframes showTitleAndDescription {
    100% {
      transform: none;
    }
  }

  .title {
    font-family: $fontAlt;
    font-weight: 900;
    text-transform: lowercase;
    font-size: 65px;
    line-height: 1.2;

    @include mobile {
      font-size: 48px;
    }
  }

  .description {
    margin-top: 50px;
    font-size: 16px;
    line-height: 1.4;

    @include mobile {
      margin-top: 25px;
    }
  }

  .scrollDown {
    transform: rotateZ(-90deg);
    font-size: 12px;
    position: absolute;
    right: 10px;
    color: grey;

    @include mobile {
      display: none;
    }

    &::before {
      content: url('#{$img}/wheel.svg');
      transform: rotateZ(90deg);
      display: block;
      position: absolute;
      bottom: -7px;
      left: -35px;
    }
  }

  .magnifierWrapper {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    position: absolute;
    bottom: 3vh;
    height: 0;

    @include notMobile {
      display: none;
    }
  }

  .magnifier {
    width: 225px;
    height: 334px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @at-root body.no-webp & {
      background-image: url('#{$img}/magnifier.png');
    }

    @at-root body.webp & {
      background-image: url('#{$img}/magnifier.webp');
    }

    @include hdpi {
      @at-root body.no-webp & {
        background-image: url('#{$img}/magnifier2x.png');
      }

      @at-root body.webp & {
        background-image: url('#{$img}/magnifier2x.webp');
      }
    }

    @include mobile {
      width: 170px * 0.75;
      height: 260px * 0.75;
      position: relative;
      top: -10vh;
      left: -150px;
      will-change: transform, opacity;
      transition: all 0.05s linear;
      transform: translateX(calc(190vw * var(--progress-one)))
                 rotateZ(calc(10deg - 30deg * var(--progress-one)))
                 translateY(calc(73vh * var(--progress-one)));
    }

    @include smallHeightPort {
      top: 5vh;
      transform: translateX(calc(190vw * var(--progress-one)))
                 rotateZ(calc(10deg - 30deg * var(--progress-one)))
                 translateY(calc(65vh * var(--progress-one)));
    }
  }
}