<section class="initScreen">

  <div class="initAnimation">
    <video class="video" width="100%" 
           height="100%" mute playsinline
           data-src="@{vars.baseDir}/videos/vision">
    </video>
  </div>

  <div class="content">
    <div class="titleAndDescription">
      <h1 class="title"> @{content.initScreen.title} </h1>
      <p class="description"> @{content.initScreen.description} </p>
    </div>

    <aside class="scrollDown"> @{content.initScreen.scroll} </aside>
  </div>
</section>