// Paths
$img : '../img';
$fonts : '../fonts';


// Typograhpy
$systemFonts: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Oxygen-Sans,
               Ubuntu,
               Cantarell,
							 "Helvetica Neue",
               Helvetica,
               Arial;

$fontBase: 'ibm_plex_mono', #{$systemFonts} sans-serif;
$fontAlt: 'cera_pro', #{$systemFonts} sans-serif;


// Breakpoints
$mobileMax: 768px;
$notMobile: 769px;
$smallHeight: 470px;


// Animation
$hideTranslateY: 30px;