.thirdScreen {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 1s 0.05s;

  .titleAndDescription {
    width: 480px;
    margin: 50px calc((100% - 1040px) / 2) 0 auto;
    transition: all 1s 0.3s;

    @include mobile {
      width: auto;
      margin: 40vh 0 170px 0;
      padding: 0 20px;
      position: relative;
      top: 50px;
      transition: transform 0.05s;
      opacity: var(--progress-6);
    }
  }

  .title {
    font-size: 18px;

    @include mobile {
      font-size: 16px;
      line-height: 1.4;
      opacity: calc(1 - var(--progress-7));
    }
  }

  .description {
    margin-top: 35px;
    font-family: $fontAlt;
    font-size: 30px;
    line-height: 1.25;
    font-weight: 800;

    @include mobile {
      font-size: 22px;
      opacity: calc(1 - var(--progress-7));
    }
  }

  .methodology {
    width: 1040px;
    max-height: 171px;
    margin: 175px auto 120px auto;
    padding: 76px 0;
    text-align: center;
    position: relative;
    font-size: 20px;

    @include mobile {
      width: auto;
      max-height: 200px;
      margin: 0;
      padding: 76px 20px;
      font-size: 16px;
      font-weight: 800;
      font-family: $fontAlt;
      text-align: center;
      line-height: 1.5;
    }

    @at-root body[data-browser="ie"] & {
      border: 8px solid #00c6ff;

      &::before,
      &::after {
        display: none;
      }
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-image: linear-gradient(to left, #00c6ff 0%, #8400ff 100%);
      z-index: -1;
    }

    &::after {
      content: '';
      width: calc(100% - #{8px * 2});
      height: calc(100% - #{8px * 2});
      position: absolute;
      left: 8px;
      top: 8px;
      background-color: white;
      z-index: -1;
    }
  }

  .code {
    width: 325px * 0.85;
    height: 253px * 0.85;
    position: absolute;
    top: 80px;
    right: calc((100% - 1040px) / 2 + 630px);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url('#{$img}/code.png'); // Webp for this image make no sense
    filter: drop-shadow(-7px 20px 4.5px rgba(0, 0, 0, 0.08));
    will-change: transform;

    @include notMobile {
      transform: translateY(calc(-170px * var(--progress-2)));
    }

    @include hdpi {
      @at-root body.no-webp & {
        background-image: url('#{$img}/code2x.png');
      }

      @at-root body.webp & {
        background-image: url('#{$img}/code2x.webp');
      }
    }

    @include mobile {
      width: 220px;
      top: auto;
      right: 10px;
      top: 21vh;
      transition: all 0.05s linear;
      transform: translateY(calc(-25vh * var(--progress-5)));
      filter: drop-shadow(-7px calc(10px + 13px * var(--progress-5)) 4.5px rgba(0, 0, 0, 0.08));
    }
  }
}