<section class="thirdScreen parallaxGroup">
  <div class="titleAndDescription">
    <h2 class="title">@{content.thirdScreen.title}</h2>
    <div class="description">@{content.thirdScreen.description}</div>
  </div>

  <p class="methodology">@{content.thirdScreen.methodology}</p>

  <div class="parallaxLayer parallaxLayerFront sensitive-2 ">
    <div class="code"></div>
  </div>
</section>