.thirdScreen {
  width: 100vw;
  display: flex;
  flex-direction: column;
  transition: all 1s 0.05s;

  // So nice selector! Wooow!
  @include notMobile {
    @at-root body:not([data-browser="edge"]):not([data-browser="ie"]):not(.showContent) & {
      transition: all 0.7s;
      transform: translateY(77vh);
    }
  }

  .titleAndDescription {
    width: 480px;
    margin: 100px calc((100% - 1040px) / 2) 0 auto;
    transition: all 1s 0.3s;

    @include notMobile {
      @at-root body:not([data-browser="edge"]):not([data-browser="ie"]):not(.showContent) & {
        transition: all 0.3s;
        opacity: 0;
        transform: translateY(20px);
      }
    }

    @include mobile {
      width: auto;
      margin: 170px 0 0 0;
      padding: 0 20px;
    }
  }

  .title {
    font-size: 18px;

    @include mobile {
      font-size: 16px;
      line-height: 1.4;
    }
  }

  .description {
    margin-top: 35px;
    font-family: $fontAlt;
    font-size: 30px;
    line-height: 1.25;
    font-weight: 800;

    @include mobile {
      font-size: 22px;
    }
  }

  .methodology {
    width: 1040px;
    max-height: 171px;
    margin: 175px auto 120px auto;
    padding: 76px 0;
    text-align: center;
    position: relative;
    font-size: 20px;

    @include mobile {
      width: auto;
      max-height: 200px;
      margin: 70px 0 0 0;
      padding: 76px 20px;
      font-size: 16px;
      font-weight: 800;
      font-family: $fontAlt;
      text-align: center;
      line-height: 1.5;
    }

    @at-root body[data-browser="ie"] & {
      border: 8px solid #00c6ff;

      &::before,
      &::after {
        display: none;
      }
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-image: linear-gradient(to left, #00c6ff 0%, #8400ff 100%);
      z-index: -1;
    }

    &::after {
      content: '';
      width: calc(100% - #{8px * 2});
      height: calc(100% - #{8px * 2});
      position: absolute;
      left: 8px;
      top: 8px;
      background-color: white;
      z-index: -1;
    }
  }

  .code {
    width: 325px;
    height: 253px;
    position: absolute;
    right: calc((100% - 1040px) / 2 + 630px);
    background-repeat: no-repeat;
    background-size: 100% auto;

    @at-root body.no-webp & {
      background-image: url('#{$img}/code.png');
    }

    @at-root body.webp & {
      background-image: url('#{$img}/code.webp');
    }

    @include hdpi {
      @at-root body.no-webp & {
        background-image: url('#{$img}/code2x.png');
      }

      @at-root body.webp & {
        background-image: url('#{$img}/code2x.webp');
      }
    }

    @include mobile {
      width: 220px;
      top: auto;
      right: auto;
      left: -115vw;
      top: 30px;
      will-change: transform, opacity;
      transition: all 0.05s linear;
      transform: translateX(calc(170vw * (var(--progress))))
                 translateY(calc(-220px * var(--progress)));
    }
  }
}