.footer {
  width: 100vw;
  height: 130px;
  display: flex;
  align-items: center;
  border-top: 1px solid #5d5d5f;
  color: white;
  background-color: #343437;

  @include mobile {
    height: auto;
  }

  a {
    transition: color 0.15s ease-out;

    &:hover {
      color: #248bff;
    }

    @include notMobile {
      padding: 10px;
      position: relative;
      left: -10px;

      &:last-child {
        left: 10px;
      }
    }

    &:focus {
      margin-top: -10px;
      padding-bottom: 5px;
      border-bottom: 3px solid white;
    }

    @include mobile {
      padding: 45px 20px;
      position: relative;
      display: flex;

      &::after {
        content: '';
        width: calc(100% - 40px);
        position: absolute;
        left: 20px;
        bottom: 0;
        border-bottom: 1px solid grey;
      }

      &:last-child {
        margin-bottom: 10px;

        &::after {
          display: none;
        }
      }

      &::before {
        position: absolute !important;
        right: 20px !important;
        top: 45px;
      }
    }
  }

  .vcard {
    max-width: 1040px;
    flex: 1;
    margin: 0 auto;
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    @at-root body[data-browser="ie"] & {
      min-width: 1040px;
    }
  }

  .fn {
    font-size: 0;
    pointer-events: none;
  }

  .mail {
    margin-right: auto;
    position: relative;

    &::before {
      content: url('#{$img}/arrow.svg');
      position: absolute;
      right: -43px;
    }

    @include mobile {
      margin-right: 0;

      &::before {
        content: '';
        width: 17px * 4;
        height: 14px * 4;
        background: url('#{$img}/mailMob.svg') no-repeat;
        background-size: 100% auto;
        transform: scale((1 / 4));
        transform-origin: 100% 0;
      }
    }
  }

  .tel {
    &::before {
      position: absolute;

      @include notMobile {
        left: -15px;
        top: 8px;
      }

      content: url('#{$img}/phone.svg');

      @include mobile {
        content: '';
        width: 16px * 4;
        height: 18px * 4;
        background: url('#{$img}/phoneMob.svg') no-repeat;
        background-size: 100% auto;
        transform: scale((1 / 4));
        transform-origin: 100% 0;
      }
    }
  }

  .adr {
    margin-left: 50px;

    &::before {
      content: url('#{$img}/house.svg');
      position: absolute;

      @include notMobile {
        left: -17px;
        top: 7px;
      }
    }

    @include mobile {
      margin-left: 0;

      &::before {
        content: '';
        width: 13px * 4;
        height: 20px * 4;
        background: url('#{$img}/locationMob.svg') no-repeat;
        background-size: 100% auto;
        transform: scale((1 / 4));
        transform-origin: 100% 0;
      }
    }
  }
}