.footer {
  width: 100vw;
  height: 130px;
  display: flex;
  align-items: center;
  border-top: 1px solid #5d5d5f;
  color: white;
  background-color: #343437;

  .vcard {
    max-width: 1040px;
    flex: 1;
    margin: 0 auto;
    display: flex;

    @at-root body[data-browser="ie"] & {
      min-width: 1040px;
    }
  }

  .fn {
    font-size: 0;
    pointer-events: none;
  }

  .mail {
    margin-right: auto;

    &::after {
      content: url('#{$img}/arrow.svg');
    }
  }

  .tel {
    &::before {
      content: url('#{$img}/phone.svg');
    }
  }

  .adr {
    margin-left: 65px;

    &::before {
      content: url('#{$img}/house.svg');
    }
  }
}