<!DOCTYPE html>
<html lang="en">
<head>
	{{> basicMetas }}
	<link rel="stylesheet" href="@{content.baseDir}styles/index.css">
	<title> Mighty Vision </title>
</head>
<body>
	{{> initScreen }}

	<script src="@{content.baseDir}/index.js"></script>
</body>
</html>