<!DOCTYPE html>
<html lang="@{vars.lang}">
<head>
	{{> basicMetas }}
	{{> iconsAndTheme }}

	<title> Mighty Vision </title>

	<link rel="stylesheet" href="@{vars.baseDir}styles/index.css">
</head>
<body class="parallax" tabindex="0">

	{{> initScreen }}
	{{> secondScreen }}
	{{> thirdScreen }}
	{{> contacts }}
	{{> footer }}

	<script src="@{vars.baseDir}/scripts/index.js"></script>
</body>
</html>