<!DOCTYPE html>
<html lang="en">
<head>
	{{> basicMetas }}
	<link rel="stylesheet" href="styles/index.css">
	<title> Mighty Vision </title>
</head>
<body>
	{{> initScreen }}

	<script src="scripts/index.js"></script>
</body>
</html>