<section class="contacts">
  <h2 class="title"> @{content.contacts.title} </h2>

  <form class="form">
    <div class="nameAndMail">
      <input class="name" type="firstname" placeholder="@{content.contacts.name}">

      <input class="mail" type="email" placeholder="@{content.contacts.mail}">
    </div>

    <div class="subjectWrapper">
      <textarea class="subject" placeholder="@{content.contacts.subject}"></textarea>
    </div>
  </form>
</section>