<section class="contacts">
  <div class="contentWrapper">
    <h2 class="title"> @{content.contacts.title} </h2>

    <form class="form">
      <div class="itemsWrapper">
        <div class="nameAndMail">
          <input class="name" required type="firstname" placeholder="@{content.contacts.name}">

          <input class="mail" required type="email" placeholder="@{content.contacts.mail}">
        </div>

        <div class="subjectWrapper">
          <textarea class="subject" required placeholder="@{content.contacts.subject}" maxlength="190"></textarea>
        </div>
      </div>

      <button class="contactsButton" type="submit">@{content.contacts.contactsButton}</button>
    </form>
  </div>
</section>